p{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

header{
    background-color: rgb(196, 196, 196);
}

.imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.area{
    display: flex;
    justify-content: center;
    align-items: center;
}

